<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>ProApp | Approved HPM</title>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script> -->
<!--   <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

  <script type="text/javascript" src="/js/pagejs/ApprovedTasks.js"></script>
  <script type="text/javascript" src="/js/pagejs/WipPending.js"></script>
  <script type="text/javascript" src="/js/pagejs/AdHocReport.js"></script>
  <script type="text/javascript" src="/js/pagejs/CompleteJob.js"></script>
  <script type="text/javascript" src="/js/pagejs/QcSurveyReport.js"></script>
  <script type="text/javascript" src="/js/pagejs/qualityReport.js"></script>

  <script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="/js/adminJs/pdfmake.min.js"></script>
  <script type="text/javascript" src="/js/adminJs/jszip.min.js"></script>
  <script type="text/javascript" src="/js/adminJs/vfs_fonts.js"></script>
  <script type="text/javascript" src="/js/adminJs/buttons.html5.min.js"></script>
  <script type="text/javascript" src="/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="/js/jquery.rowspanizer.js"></script>

  <script type="text/javascript" src="/js/pagejs/common_Rep.js"></script>

  <link th:href="@{/css/animate.css}" rel="stylesheet" />
  <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
  <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
  <link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/BootStrap/bootstrap.min.css}" rel="stylesheet" />

  <link th:href="@{/css/style.css}" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="/js/adminJs/validatePage.js"></script> -->
  
           <div th:replace="~{fragments/headerJS}"></div> 
  <script type="text/javascript" src="/js/pagejs/HpmApprovedTask.js"></script>
  
  
 <style>
label {
    padding-top: 7px;
}
.form-control {
    height: 30px !IMPORTANT;
    margin-top: 2px !IMPORTANT;
}
.form-group {
    margin-top: 2px !IMPORTANT;
}
</style>
<script>
	let nav = 2;
</script>

</head>

<body>
  <div class="wrapper" style="height: auto; min-height: 100%;">
    <header class="main-header">
    
    
    
    <!--   <div th:replace="~{fragments/headerHPM}"></div> -->
      
            <div th:replace="~{fragments/headerHPM}"></div>
      
      
    </header>

    <div class="content-wrapper">

<section> 
  <!--container-fluid-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> 
        <!--box-->
        <div class="box"> 
          <!--box-header-->
          <div class="box-header">
            <h3 class="box-title pull-left"><!-- <i class="fa fa-file-text-o table-hd-icon" aria-hidden="true"></i> --> Approved Installations</h3>
            <!-- <div class="box-tools pull-right">
               <button class="btn theme_btn" data-toggle="modal" data-target="#new_installation" id = "addnewAction">New Installation </button>
               <button class="btn theme_btn" data-toggle="modal" data-target="#bulk_installation">Bulk Installation</button>
               <button class="btn theme_btn2"><i class="fa fa-filter" aria-hidden="true"></i> SI</button>
               <button class="btn theme_btn2"><i class="fa fa-filter" aria-hidden="true"></i> Region</button>
               <button class="btn theme_btn2"><i class="fa fa-filter" aria-hidden="true"></i> Customer</button>
              </div> -->
              <div class="clearfix"></div>
          </div>
          <!--box-header--> 
        
          <!--box-body-->
          <div class="box-body">
          <div class="col-md-12"> 
            <table class="table table-bordered table-striped table-hover table-responsive" id="approvaldataList" >
              <thead>
                <tr class="orange">
                  <th>Job ID</th>
                  <th>Customer</th>
                  <th>PM</th>
                  <th>SI Co-ordinator</th>
                  <th>Product</th>
                  <th>Region</th>
                  <th>Site</th>
                  <th>Location</th> 
                  <th>Status</th>
                <!--   <th>Stages</th>  -->
                 <!--  <th class="table_cust_col">Remark</th> -->
                  <th>Approval Date</th>
                </tr>
              </thead>
              <tbody>
       
		<!-- 
	
            
				 <tr>
              	<td>JB536</td>			
				<td >Idea</td>
				<td>GHJ</td>
				 <td>BNM</td>
				 <td>Vashi</td>
				 <td>Integration</td>
				 <td>WIP</td>
				 <td>
				 	<input type="text" class="table-input-item">
				 	<input type="button" class="table-input-btn" value="Update">
				 </td>
				 <td><input type="button" class="table-input-cl" value="Cancel"></td>
				</tr>
				 -->
				
				
              </tbody >
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Content--> 

<div id="new_installation" class="modal fade in" role="dialog">
  <div class="modal-dialog modal-lg"> 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header cust-hd">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">New Installation</h4>
      </div>
      <div class="modal-body">
        <form role="form"  class="" name="myform">
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Select Customer : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <select class="form-control" id="customerListadd">
	              	<!-- <option>- Select Customer -</option>
	              	<option>Client 1</option>
	              	<option>Client 2</option>  -->
	              </select>
	            </div>
            </div>
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Select Product : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <select class="form-control" id = "productList">
	              	 <option>- Select Product </option> 
	              	<!-- <option>Product 1</option>
	              	<option>Product 2</option>  -->
	              </select>
	            </div>
            </div>
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Select Sub Contractor : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <select class="form-control" id = "subContractorListadd">
	              	<!-- <option>- Select Sub Contractor -</option>
	              	<option>Sub Contractor 1</option>
	              	<option>Sub Contractor 2</option>  -->
	              </select>
	            </div>
            </div>
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Enter Quantity : </label>
	            <div class="col-sm-8 my_form">
	             	<input type="text" class="form-control" placeholder="Enter the Quantity" id= "qty">
	            </div>
            </div>
             <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Enter Site  : </label>
	            <div class="col-sm-8 my_form">
	             	<input type="text" class="form-control" placeholder="Enter the Site"  id= "site">
	            </div>
            </div>
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Enter Location : </label>
	            <div class="col-sm-8 my_form">
	             	<input type="text" class="form-control" placeholder="Enter the Location"  id= "loc">
	            </div>
            </div>
            <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Select Region : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <select class="form-control" id = "regionList">
	              	 <option>-- Select Region --</option>
	              	<!--<option>Region 1</option>
	              	<option>Region 2</option>  -->
	              </select>
	            </div>
            </div>
             <div class="col-sm-12 margin-top15">
	            <label for="" class="col-sm-4 control-label cust_label">Select Task : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <dl class="dropdown multi-selectbox"> 
					    <dt>
					    <a href="#">
					      <span class="hida"> - Select Task -</span>  
					      <p class="multiSel"></p>  
					    </a>
					    <span class="fa fa-asterisk"></span>
					    </dt>
					    <dd>
					        <div class="mutliSelect">
					           <ul id = "taskListadd">
					                <!-- <li>
					                    <input type="checkbox" value="Installation" class="multiselect_checkbox">Installation</li>
					                --> 
					            </ul> 
					        </div>
					    </dd>
					</dl>
	            </div>
            </div>
            
            
        </form>
        
        
             <div id="pmErrAdd" class="Err" ></div>
          <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-4 pull-left margin-top35">
          <button class="btn btn-block cust-btn" type="submit"  id="addPMdetails" >Submit</button>
        </div>
    </div>
    </div>
  </div>
</div>

<div id="bulk_installation" class="modal fade in" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header cust-hd">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Bulk Installation</h4>
      </div>
      <div class="modal-body bodypadd0">
        <form role="form"  class="" name="myform">
            <div class="col-sm-12">
            	<h3>Import your data from excel file</h3>
	            <label class="control-label cust_label2">Upload Excel File: <span class="fa fa-asterisk"></span></label>
	            <div class="my_form upload_form">
	              <input type="file" class="upload_excel_btn">
	            </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-sm-4 pull-left">
          <button class="btn btn-block cust-btn" type="submit">Submit</button>
        </div>
    </div>
    </div>
  </div>
</div>
 
<script type="text/javascript">
	$(document).ready(function() {
    $('#purchaseOrderTable').DataTable( {
        responsive: true
    } );
} );
</script>

<!-- Multiselect -->
<script>
$(".dropdown dt a").on('click', function() {
	  $(".dropdown dd ul").slideToggle('fast');
	});

	$(".dropdown dd ul li a").on('click', function() {
	  $(".dropdown dd ul").hide();
	});

	function getSelectedValue(id) {
	  return $("#" + id).find("dt a span.value").html();
	}

	$(document).bind('click', function(e) {
	  var $clicked = $(e.target);
	  if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
	});

	$('.mutliSelect input[type="checkbox"]').on('click', function() {

	  var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
	    title = $(this).val() + ",";

	  if ($(this).is(':checked')) {
	    var html = '<span title="' + title + '">' + title + '</span>';
	    $('.multiSel').append(html);
	    $(".hida").hide();
	  } else {
	    $('span[title="' + title + '"]').remove();
	    var ret = $(".hida");
	    $('.dropdown dt a').append(ret);
	  }
	});
</script>

    </div>
    <footer class="main-footer ">
<!--       <div th:replace="~{fragments/admin_footer}"></div>
 -->      
                  <div th:replace="~{fragments/admin_footer}"></div>
      
      
    </footer>
    
  <!-- sidenav-->
  <div id="mySidenav" class="sidenav"> <a href="javascript:void(0)" class="closebtn" onClick="closeNav()">&times;</a>
    <p>Text Here</p>
  </div>
  <!-- sidenav--> 
  
</div>
<!-- wrapper --> 
<!-- sidenav--> 
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script><!-- sidenav

<!-- ToolTip -->
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>
<!-- ToolTip -->

</body>

</html>