<!-- scrptList.html -->
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> -->
<head th:fragment="scripts">

	<script type="text/javascript">
        console.log('head.html IMPORTED');
    </script>

   <meta charset="ISO-8859-1">

<!-- <title>Insert title header here</title> -->
	<!-- =================== -->
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>

   <!--  Bootstrap -->
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <link th:href="@{/css/BootStrap/bootstrap.min.css}" rel="stylesheet"/>

   <!--  DataTables -->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.rowspanizer.js}"></script>

   <!--  Font Awesome -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
    <script th:src="@{/js/jquery-ui.js}"></script>

   <!--  Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

   <!--  DataTables Buttons -->
    <script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.flash.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminJs/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminJs/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminJs/vfs_fonts.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminJs/buttons.html5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.print.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}"> 

<script type="text/javascript" th:src="@{/js/adminJs/validatePage.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/pagejs/ProductMaster.js"></script>  -->


<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
</head>
<!-- </html>
 -->