<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ProApp | SI Company</title>

<div th:replace="~{fragments/headerJS}"></div>  
<script type="text/javascript" src="/js/pagejs/SICompany.js"></script>

<script>
	let nav = 1;
</script>
</head>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/adminjs/adminLogInJS.js"></script>

<script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/js/adminJs/pdfmake.min.js"></script>
<script type="text/javascript" src="/js/adminJs/jszip.min.js"></script>
<script type="text/javascript" src="/js/adminJs/vfs_fonts.js"></script>
<script type="text/javascript" src="/js/adminJs/buttons.html5.min.js"></script>
<script type="text/javascript" src="/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/js/jquery.rowspanizer.js"></script>

<script type="text/javascript" src="/js/pagejs/common_Rep.js"></script>

<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript" src="/js/adminJs/validatePage.js"></script>
<script type="text/javascript" src="/js/pagejs/SICompany.js"></script>

<link th:href="@{/css/animate.css}" rel="stylesheet"/>
<link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
<link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/BootStrap/bootstrap.min.css}" rel="stylesheet"/> -->
<!-- <link th:href="@{/css/adminCss/animate.css}" rel="stylesheet"/> -->
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<body>
<div th:replace="~{fragments/admin_navbar}"></div>
 <div class="content-wrapper" >

 <section> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> 
        <div class="box"> 
          <div class="box-header">
            <h3 class="box-title pull-left"><!-- <i class="fa fa-file-text-o table-hd-icon" aria-hidden="true"></i> --> SI Company Master</h3>
            <div class="box-tools pull-right">
              <button class="btn theme_btn" id="taskAction" type="submit" data-toggle="modal" data-target="#add_task">Add SI</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <table class="table table-bordered table-striped table-hover table-responsive" id="taskMasterTable" >
                <thead>
                  <tr class="orange">
                    <th>Company Name</th>
                    <th>Edit</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="regionListData">
                </tbody >
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Content--> 

<!--Add -->
<div id="add_task" class="modal fade in" role="dialog" aria-hidden="false" style="display: none;">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header cust-hd">
        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
        <h4 class="modal-title">Add SI Company Name</h4>
      </div>
      <div class="modal-body">
        <form role="form"  class="" name="myform">
        	<div class="col-sm-12 margin-top15">
	          	<label for="" class="col-sm-3 control-label cust_label">SI Company Name : <span class="fa fa-asterisk"></span></label>
	            <div class="col-sm-8 my_form">
	              <input type="text" class="form-control" name="tasknameadd" id="tasknameadd" placeholder="Enter SI Company Name" autofocus="" required="">
	            </div>
            </div>
          <div id="addErr" class="Err" >Test</div>
        </form>
      </div>
      <div class="modal-footer padding_t_0">
        <div class="col-md-4 col-md-offset-4 pull-left">
          <button class="btn cust-btn btn-block" id="Addtaskdata" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Add --> 

<!--Edit -->
<div id="editPopupScreen" class="modal fade in" role="dialog" aria-hidden="false" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header cust-hd">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="fa fa-times"></span> </button>
        <h4 class="modal-title">Edit SI Company Name</h4>
      </div>
      <div class="modal-body" id="">
      	<div class="col-sm-12 margin-top15">
        	<label class="col-sm-3 control-label cust_label">SI Company Name : <span class="fa fa-asterisk"></span></label>
          	<div class="col-sm-8 my_form">
            	<input type="text" class="form-control" name="tasknameedit" id="tasknameedit" placeholder="Enter Task Name" autofocus="" required="">
          	</div>
        </div>
        <div id="editErr" class="Err" ></div>
      </div>
      <div class="modal-footer">
        <div class="col-md-4 col-md-offset-4 pull-left">
          <button class="btn cust-btn btn-block" id="EditRegMaster" type="submit">Update</button>
        </div>
      </div>
    </div> 
  </div>
</div>
<!--Edit--> 
 
   </div>
       <div th:replace="~{fragments/admin_footer}"></div>
         <!-- sidenav--> 
  
</div>
<!-- wrapper --> 
<!-- sidenav--> 
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script><!-- sidenav

<!-- ToolTip -->
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>
<!-- ToolTip -->
</body>
</html>